---
import { Masonry } from "astro-masonry";
import { getCollection } from "astro:content";
import ArtCard from "../../components/ArtCard.astro";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { shuffle } from "../../utils";

const blog = await getCollection("blog")

let content = [...blog];
let result = shuffle(content);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
   
    <Header />
    <main class="dotted">
      <Masonry
       sortByHeight={true}
        breakpointCols={{
          default: 3,
          1400: 3,
          1100: 2,
          700: 1,
        }}
      >
        {
          result.map((post) => {
            switch (post!.data.type) {
              case "project":
                return (
                  <div class="grid-item">
                    {" "}
                    <ArtCard id={post!.id} {...post!.data} />
                  </div>
                );
            }
          })
        }
      </Masonry>
    </main>
    <Footer />
  </body><style>
    li {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .grid {
      margin: 0 auto;
    }
    .grid-item {
      margin: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    a {
      text-decoration: none;
	  color: inherit;
    }
    ul {
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 52px;
    }

    .title {
      font-size: 24px;
      font-weight: 400;
      margin-top: 15px;
      line-height: 36px;
    }
    .description {
      font-weight: 400;
      line-height: 21px;
      font-size: 0.8em;
      margin-top: 15px;
      color: #1e1e1e;
    }
    .container {
    }
    .img-container {
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px;
      border-radius: 24px;
    }
    img {
      width: 320px;
    }
    .grid.is-loading {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease;
    }
    .grid.is-ready {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.5s ease;
    }
    @media (max-width: 800px) {
      ul {
        grid-template-columns: 1fr;
      }
    }
  </style>
</html>
