---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import WindowCrad from "../components/WindowCrad.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header headerColor="#FFC8FD" />
    <main class="dotted">
      <WindowCrad />
    </main>

    <Footer />
  </body><style></style>
</html>
<style>
  body {
    background-color: #ffc8fd;
    height: 100dvh;
  }
</style>
