---

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import WindowCrad from "../components/WindowCrad.astro";
import SimplePictureCard from "../components/SimplePictureCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const aboutDeco = [
  {
    id: "cat1",
    src: "/about/cat1.webp",
    title: "Curious Cat",
    type: "Interests",
    tags: ["Interests"],
  },
  {
    id: "cat2",
    src: "/about/cat2.webp",
    title: "Cat eating",
    type: "Interests",
    tags: ["Interests"],
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header headerColor="#FFC8FD" />
    <main class="dotted">
      <WindowCrad />
      <div class="about-deco-container">
        {aboutDeco.map((deco) => <SimplePictureCard art={true} {...deco} />)}
      </div>
       <Footer />
    </main>
  </body>
</html>
<style>
  body {
    background-color: #ffc8fd;
    height: 100dvh;
  }
  .about-deco-container {
    display:flex;
    justify-content: space-between;
    margin-top: -120px;

  }
  
  @media (max-width:964px){
   .about-deco-container{
      display: none;
    }
  }
</style>
