---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Contact Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/hiss.jpg"
>
	<a>
		email: akankshagajankar@gmail.com
	</a>


</Layout>
