---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectShowCase from './projects/projectShowCase.astro';
import '@fontsource/poppins';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="intro">
			<p>Hello!</p>
			<p>
				I'm Akanksha and this is my portfolio of design work I have done over the years. 
				I am primarily a UIUX designer but I dabble in Graphic Design and Branding as well. 
				I currently work at Twimbit as a UIUX Designer.
				Look around, enjoy my work and feel free to reach out for a chat.
			</p>
			
			
		</main>
		<Footer />
	</body>
</html>

<style>
.intro {
		font-weight: 500;
		font-size: clamp(1.5rem, 2vw, 2.5rem); /* Responsive font size */
		max-width: 90%; /* Allow some breathing space on smaller screens */
		width: 100%; /* Prevent overflow */
		margin: auto;
		margin-top: 2rem; /* Use relative units for consistency */
		
		line-height: 1.6; /* Improve readability */
	}
	.intro p {
		margin: 0;
		padding-bottom: 1rem; /* Add spacing between paragraphs */
	}
</style>