---
const { title,blog, description,tag } = Astro.props;
---


<div class="frame">
  <p class="title">
    <span>{blog}</span>
    <span class="type">Writting</span>
    <img src={"/card buttons.svg"} alt="000" />
  </p>
  <img class="folder" src="/Frame(1).png" alt="" srcset="" />
  <div class="content">
    <span class="tag">
      {tag}
    </span>
    <span>
      {title}
    </span>
    <p>
      {description}
    </p>
    <button>
      READ
    </button>
  </div>
</div>

<style>
  .frame {
    border: 1px solid black;
    max-width: 400px;
    height: fit-content;
  
    border-radius: 12px;
    background-color: #A6DBEA;
    font-size: 0;
    line-height: 0;
    .title {
      line-height: 12px;
      max-height: 40px;
      margin: 0px;
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      padding: 10px 20px;
      .type {
        font-weight: 600;
      }
    }
    > img {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .folder{
        margin: 24px;
    }
  }

</style>
