
<span>
    <slot/  >
</span>

<style>
    span{
        background-color: #FFC8FD;
        border: black 1px solid;
        border-radius: 5px;
        color: black;
        padding: 6px 12px;
        box-shadow: black 4px 4px;
        font-size: 16px;
    }
</style>