---
import HeaderLink from "./HeaderLink.astro";
---

<script>
  const menu = document.querySelector("#responsive-menu")!;
  const menuContent = document.querySelector(".menu-content")!;
  const body = document.body;
  menu.addEventListener("click", () => {
    menu.classList.toggle("open");
    menuContent.classList.toggle("open");
    body.classList.toggle("no-scroll");
  });
  
</script>


<div id="responsive-menu">
  <span></span>
  <span></span>
  <span></span>
</div>
<div class="menu-content">
    <div class="desktop-header internal-links">
        <HeaderLink href="/projects">Work</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink href="/contact">Say Hi</HeaderLink>
    </div>
</div>

<style>
  #responsive-menu {
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;
  }

  #responsive-menu span {
    background: black;
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    transition: 0.5s;
  }

  #responsive-menu span:nth-child(1) {
    top: 0;
  }
  #responsive-menu span:nth-child(2) {
    top: 50%;
  }
  #responsive-menu span:nth-child(3) {
    top: 100%;
  }

  #responsive-menu.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  #responsive-menu.open span:nth-child(2) {
    opacity: 0;
  }
  #responsive-menu.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
  .menu-content.open {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    opacity: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .desktop-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25em;
    margin-top: 25vh;
    gap:45px;
    color: black;
  }
  .menu-content {
   display: none;
  }
</style>
