---
import { Image } from "astro:assets";

const { title, src } = Astro.props;
---

<div class="container">
  <div class="recomends-data">
    <Image src={src} alt={title} />
    <div class="recomendation-data-text">
      <span>Recommendation</span>
      <small>{title}</small>
    </div>
  </div>
</div>

<style>
  .container {
    border-radius: 6px;
    max-width: 400px;
    position: relative;
    text-align: left;
    color: #fff;
    line-height: 0;
    font-size: 0;
    .recomends-data {
      .recomendation-data-text {
        font-size: 12px;
        line-height: 24px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 12px;
        left: 14px;
        small {
          font-size: 24px;
        }
      }
    }
  }
  @media (max-width: 770px) {
    .container {
      .recomends-data {
        .recomendation-data-text {
          top: 5px;
          small {
            font-size: 20px;
          }
        }
      }
    }
  }
</style>
