---
const { title, src } = Astro.props;
---

<div class="container">
  <div class="recomends-data">
    <img src={src} alt={title} >
    <div class="recomendation-data-text">
      <span>Recommendation</span>
      <small>{title}</small>
    </div>
  </div>
</div>

<style>
  .container {
  
    border-radius: 6px;
    height: fit-content;
    position: relative;
    text-align: left;
    color: #fff;

    .recomends-data {

      
      .recomendation-data-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 8px;
        left: 14px;
      }
     
    }
  }
</style>
