---
import CTAButton from "./CTAButton.astro";

const sublinks = ["Who am I ?", "Tell me more", "What can I do ?"];
---

<script lang="js">
  document.addEventListener("DOMContentLoaded", function () {
    // Content data
    const content = [
      {
        title: "Who am I ?",
        html: `<p>I'm a UIUX designer and a great admirer of all art. I have a passion for designing products that can inspire awe but also be truly useful to the people.</p>`,
      },
      {
        title: "Tell me more",
        html: `<p>I have a degree in computer engineering but during my course of traversing clumsily through college, I found my interests lying more in design. During the pandemic, I took up Photoshop innocently as a way to de-stress and be creative, but that led to graphic design which in turn led me to taking up UIUX design more seriously.</p>
                    <p>It also helped that our final year project required someone to design the interface and I was more than happy to volunteer to test my skills built on side projects.</p>
                    <p>I really love movies and music that's got a real aesthetic quality to it.</p>`,
      },
      {
        title: "What can I do ?",
        html: `<ul>
                        <li>Worked for 3 years with a fast-paced start-up in a ever evolving landscape of needs and missions.</li>
                        <li>Strong command of design language and interpreting various aesthetics into a concrete design using various tools i.e Figma, Adobe XD and Photoshop.</li>
                        <li>Good experience working with minimal or maximal direction. Working with requirements that may not be concrete as yet and need some digging, I’m good with the digging.</li>
                        <li>Super efficient at communication and comfortable with engaging with various departments. Can wade through the chaos of launches with a plan and a dream.</li>
                        <li>Focused on staying approachable and open to conversations and discussions about design and the landscape of visuals with anyone and everyone.</li>
                    </ul>`,
      },
    ];

    // Get DOM elements
    const subLinks = document.querySelectorAll(".sub-folder li");
    const contentArea = document.getElementById("content-area");

    // Function to update content
    function updateContent(index) {
      contentArea.innerHTML = `
                    <h1><img src="/site-icons/headingList.svg" alt=""> ${content[index].title}</h1>
                    ${content[index].html}
                `;

      // Update active state
      subLinks.forEach((link) => link.classList.remove("active"));
      subLinks[index].classList.add("active");
    }

    // Add click events to sublinks
    subLinks.forEach((link) => {
      link.addEventListener("click", function () {
        const index = parseInt(this.getAttribute("data-index"));
        updateContent(index);
      });
    });
  });
</script>

<div class="about-container">
  <div class="about-nav">
    <img src={"/card buttons.svg"} alt="000" />
    <span class="card-title"> About Me </span>
  </div>
  <div class="about-content">
    <div class="about-sidebar">
      <div class="side-nav">
        <div class="expand-container">
          <button id="file-trigger" class="folder-expand">-</button>
          <span class="line"></span>
        </div>

        <ul class="folder">
          <li>
            <p>about akanksha</p>
          </li>
          <ul class="sub-folder">
            {
              sublinks.map((link, index) => (
                <li class={index === 0 ? "active" : ""} data-index={index}>
                  <>{link}</>
                </li>
              ))
            }
            <span class="line-container">
              {sublinks.map(() => <span />)}
            </span>
          </ul>
        </ul>
      </div>
      <a class="back-button" href="/">
        <img src="/site-icons/back.svg" alt="back" />
        <p>back to projects</p>
      </a>
    </div>
    <div class="about-main">
      <div class="about-main--info" id="content-area">
        <h1>
          <img src="/site-icons/headingList.svg" alt="" /> Who am I ?
        </h1>
        <p>
          I'm a UIUX designer and a great admirer of all art. I have a passion
          for designing products that can inspire awe but also be truly useful
          to the people.
        </p>
      </div>
      <div class="about-main--footer">
        <div class="about-main--footer-actions-container">
          <p>Wanna chat with me ?</p>
          <CTAButton>
            <a href="mailto:work@akankshagajankar.com"> Send an email!! </a>
          </CTAButton>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  a {
    all: unset;
    cursor: pointer;
  }
  .display--none {
    display: none;
  }
  .about-container {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 20dvh;
    position: relative;
    z-index: 2;
    .about-nav {
      .card-title {
        font-weight: bold;
      }
      border: 2px solid black;
      padding: 10px 22px 10px 22px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #e8b33a;
      border-radius: 12px 12px 0px 0px;
    }
    .about-content {
      border: 2px solid black;
      border-top: 1px solid black;
      display: grid;
      grid-template-columns: 1fr 2fr;
      background-color: white;
      border-radius: 0px 0px 12px 12px;
      .about-sidebar {
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 0px 0px 12px 0px;
        background-color: white;
        z-index: 20;

        .side-nav {
          display: grid;
          grid-template-columns: 1fr 10fr;
          padding: 60px 40px;
          margin-top: 20px;
          .expand-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
          }
          .folder-expand {
            height: 23px;
            width: 23px;
            border-radius: 2px;
            cursor: pointer;
            background-color: black;
            color: white;
            border: none;
          }
          .line {
            display: inline-block;
            content: "";
            height: 60%;
            width: 2px;
            margin: 0;
            padding: 0;
            background-color: black;
          }
          ul.folder {
            list-style-image: url("/site-icons/folder.svg");
            margin-top: -5px;

            p {
              color: #594a4e;
              font-weight: bold;
              margin: 0px;
              transform: translateY(-8px);
            }
            ul.sub-folder {
              list-style: url("/site-icons/hash.svg");
              padding: 0px;
              position: relative;
              font-weight: 600;
              font-size: 16px;
              color: #858081;
              .line-container {
                position: absolute;
                height: 75%;
                width: 30px;
                left: -52px;
                top: 9px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                span {
                  width: 30px;
                  height: 2px;
                  background-color: #000;
                }
              }
              li {
                cursor: pointer;
              }
              li.active {
                color: #000;
                font-weight: bold;
              }
              li.inactive {
                font-weight: 500;
                color: #858081;
              }
            }
          }
        }
      }
      .about-main {
        position: relative;
        padding: 10px 22px 10px 22px;

        .about-main--info {
          height: 100%;
          max-height: 430px;
          min-height: 430px;
          overflow: auto;
          padding-bottom: 30px;
          h1 {
            font-size: 32px;
            font-weight: 600;
            color: #858081;
            img {
              transform: translateY(-3px);
            }
          }
          p {
            font-size: 20px;
            color: #594a4e;
          }
        }
        .about-main--footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 21px;
          font-weight: 600;
          font-size: 16px;
          padding: 0px 20px;
          color: #858081;
          .about-main--footer-actions-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
              margin-right: 30px;
            }
          }
        }
      }
      overflow: hidden;
      .about-main--footer {
        background-color: #eae1d9;
        margin-left: -28px;

        padding-left: 12px;
      }
    }
  }

  .back-button {
    color: #594a4e;
    font-weight: bold;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 60px 40px;
    img {
      width: 24px;
      height: 24px;
    }
  }
</style>
