---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";


type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, blog, colors, tag } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />

	</head>

	<body>
		<Header />
		<main class="dotted">
			<article style={{ backgroundColor: colors[1] }} class="frame">
				<p style={{ backgroundColor: colors[0] }} class="title">
					<span>{blog?.[0]}</span>
					
					<span class="type">Writing</span>
					<img loading="lazy" src={"/site-icons/card-buttons.svg"} alt="000" />
					
				</p>
				<section class="title-container">
					<h1 class="blog-prose-title">
						{title}
					</h1>
				</section>
				<div class="prose">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>

<style>
	.title-container {
				padding: 1rem 1rem 0px 1rem;
			}
			.prose {
				padding: 1rem;
				font-size: clamp(1rem,-0.875rem + 8.333vw,1.5rem);
				color: rgb(var(--gray-dark));
				font-family: 'PT Serif', serif;
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}

			.last-updated-on {
				font-style: italic;
			}

	
	.frame {
		
		border: 1px solid black;
		height: fit-content;
		position: relative;
		border-radius: 12px;
	
		box-shadow: black -4px 4px;
		.title {
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			border-bottom: 1px solid black;
			line-height: 12px;
			max-height: 40px;
			margin: 0px;
			font-size: 14px;
			display: flex;
			justify-content: space-between;
			padding: 10px 20px;
			.type {
				font-weight: 600;
			}
		}

		> img {
			border-bottom-left-radius: 12px;
			border-bottom-right-radius: 12px;
		}
	}
	.blog-prose-title {
		font-size: clamp(1.5rem,1.5rem,4rem) 
		margin-bottom: 0;
	}
			@media (min-width:1024px) {
				.frame{
					margin: auto 80px ;
				}
			.title-container {
				padding: 4rem 4rem 0px 4rem;
			}
				.prose {
					padding: 4rem;
				}
			}
</style>
